<div ng-controller='SelectController'>
	<p>Data Source: <select ng-model='field.source'>
		<option value='Auto'>Auto</option>
		<option value='Manual'>Manual</option>
	</select></p>
	<div ng-if='field.source=="Auto"'>
		<input ng-model='field.any_message' id='any_message_{{$id}}'/>
		<label for='any_message_{{id}}'>Blank Prompt (e.g. Any)</label>
	</div>
	<div ng-if='field.source=="Manual"'>
		<table class='wpcfs-key-value-table'>
			<thead><tr><td></td><th>Value</th><th>Label</th></tr></thead>
			<tbody ng-model='field.options' ui-sortable>
				<tr ng-repeat='option in field.options'>
					<td>DRAG</td>
					<td><input ng-model='option.value'/></td>
					<td><input ng-model='option.label'/></td>
					<td><a ng-click='remove_option(option)'>X</a></td>
				</tr>
			</tbody>
			<tfoot><tr><td></td><td><a ng-click='add_option()'>Add</a></td></tr></thead>
		</table>
	</div>
</div>
