<div ng-controller="WPCFSForm" class='wpcfs-form'>
<ul ng-if='tabs.length>1' class='wpcfs-form-tabs row'>
    <li ng-repeat='local_tab in tabs' class='cell' ng-class='{"selected": tab==local_tab, "unselected": tab!=local_tab }'>
        <a class='icon {{local_tab}} tab_select' ng-click='set_tab(local_tab)'>{{local_tab}}</a>
    </li>
    <li class='cell tab_filler'>
    </li>
</ul>
        <div style='clear:both'/>
<div class='wpcfs-form-tab' ng-if='tab == "settings"'>
    <div ng-repeat='page in config.settings_pages'>
        <h2 ng-if='page.show_title'>{{page.title}}</h2>
        <div ng-include='page.template'></div>
    </div>
</div>
<div class='wpcfs-form-tab' ng-if='tab == "fields"'>
<ul class='form_fields' ui-sortable ng-model='form_fields'>
	<li ng-repeat='field in form_fields' ng-controller="WPCFSField" ng-class="{expanded:field.expand}">
        <div class='preview row'>
            <div class='cell'>
                <a class='drag icon'>DRAG</a>
            </div>
            <div class='cell'>
                <input ng-model="field.label"/>
            </div>
            <div class='cell'>
            <a class='expand icon' ng-click='field.expand=!field.expand'><i18n="Edit Icon">Edit</i18n></a>
            <a class='delete icon' ng-click='remove_field(field)'><i18n="Delete Row">Remove</i18n></a>
            </div>
        </div>

        <div class='full-form' ng-show='field.expand'>
            <div style='clear:both'/>
            <hr/>
            <div class='wpcfs-floating-prompt' ng-if='!field.datatype'><p><i18n>Select Datatype</i18n></p></div>
            <select ng-model='field.datatype'
                ng-options='datatype.id as datatype.name for datatype in config.building_blocks.datatypes'>
            </select>
            <select ng-if='field.datatype' ng-model='field.datatype_field'
                ng-options='id as name for (id,name) in fields'>
            </select>
            <hr/>
            <div class='wpcfs-floating-prompt' ng-if='!field.comparison'><p><i18n>Select Search Comparison</i18n></p></div>
            <select ng-model='field.comparison'
                ng-options='comparison.id as comparison.name for comparison in valid_comparisons'>
            </select>
            <div 
                ng-if='field.comparison && comparisons[field.comparison].options.extra_config_form'
                ng-include='comparisons[field.comparison].options.extra_config_form'
                class='wpcfs-ng-wrapper'
                ng-class="{'wpcfs-clear': inputs[field.comparison].options.clear_extra_config_form}"
            ></div>

            <hr/>
            <div class='wpcfs-floating-prompt' ng-if='!field.input'><p><i18n>Select Input Method</i18n></p></div>
            <select ng-model='field.input'
                ng-options='input.id as input.name for input in config.building_blocks.inputs'>
            </select>
            <div 
                ng-if='field.input && inputs[field.input].options.extra_config_form'
                ng-include='inputs[field.input].options.extra_config_form'
                class='wpcfs-ng-wrapper'
                ng-class="{'wpcfs-clear': inputs[field.input].options.clear_extra_config_form}"
            ></div>
        </div>
        <div style='clear:both'/>
	</li>
</ul>
<a ng-click='add_field()' class='add icon'><i18n>Add</i18n></a><a ng-click='add_field()' class='icon-text'><i18n>New Field</i18n></a>
</div>
        <div style='clear:both'/>
</div>
