<div ng-controller='PresetsController' class="wp_custom_fields_search_editor">
<div class='row'>
    <div class='cell'>
        <ul>
            <li ng-repeat='preset in presets' ng-click='edit_preset(preset)' ng-controller='PresetModifiedController'>
                <span ng-if='preset.modified'>*</span>{{preset.name}}
            </li>
            <li ng-click='add_preset()'><a class='add icon'></a></li>
        </ul>
    </div>
    <div>
        <div ng-controller='PresetController' ng-if='preset'>
            <p>Preset Title <input ng-model='preset.name'/></p>
            <p>Instantiate this with the shortcode [wpcfs-preset id="{{preset.id}}"]</p>
            <p>Or with the PHP code &lt;?php wpcfs_show_preset("{{preset.id}}"); ?&gt;</p>


            <p>Preset: {{config.form_config.id}} {{preset.state}}</p>

            <div ng-controller='WPCFSForm' ng-include="partials+'/form.html'">
                
            </div>
        </div>

        <input type='button' ng-click='save_preset(preset)' value='Save'/>
        
    </div>
</div>
