<div ng-controller='PresetsController' class="wpcfs wpcfs-presets" style="min-height: 500px; position: relative">
<div class='row presets-page' ng-controller='PresetController'>
    <div class='x-col-sm-4 col-md-2 preset-menu' style='vertical-align: top;'>
        <h2>Presets</h2>
        <ul>
            <li ng-repeat='preset in presets' ng-click='edit_preset(preset)' ng-class='{"selected":is_selected_preset(preset),"unselected":!is_selected_preset(preset)}'>
                {{ get_preset_title(preset) }}
            </li>
            <li ng-click='add_preset()'><div class='add icon'></div>New Preset</li>
        </ul>
        <h2>Import / Export</h2>
        <ul>
            <li><a download='settings.json' ng-click='warn_no_import()' href='{{export_settings_href}}'><i18n>Export Settings</i18n></a></li>
        </ul>
    </div>
    <div class='x-col-sm-8 col-md-6'>
        <div ng-if='!preset' class='preset-form'>
            <h1><i18n>Please Select A Preset</i18n></h1>
        </div>
        <div ng-if='preset' class='preset-form'>
            <h2>Edit Preset {{ get_preset_title(preset) }}</h2>
            <div ng-controller='WPCFSForm' ng-include="partials+'/form.html'">
                
            </div>

            <button type='button' class='wpcfs-cta right' ng-click='save_preset(preset)'>Save</button>
        </div>
    </div>
    <div class='x-col-sm-12 col-md-4 preset-blurb'>
            <p><i18n>Instantiate this preset in any post or page by entering the shortcode</i18n> [wpcfs-preset id="{{preset.id}}"]</p>
            <p><i18n>Or in your theme files with the PHP code</i18n> &lt;?php wpcfs_show_preset("{{preset.id}}"); ?&gt;</p>
    </div>

        
</div>
</div>
